body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  padding: 0;
  margin: 0;
}
html, body,#root{
  height: 100%;
}
ul,li{
  list-style: none;
}
.friend{
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.friend p{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.message-tip{
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #000;
  font-size: 20px;
  left: 5%;
  bottom: 10%;
  color: red;
  text-align: center;
  line-height:60px;
}
.detail{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
}
.detail>section{
  width: 100%;
  flex: 1;
  overflow-y: scroll;
} 
.detail header{
  width: 100%;
  height: 44px;
  text-align: center;
  font-size: 30px;
  color: goldenrod;
}
.detail input{
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}
.detail ul{
  display: flex;
  flex-direction: column;
}
.detail li{
  margin-bottom: 10px;
}
.detail li span{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: cadetblue;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  font-size: 30px;
}
.send{
  align-items: flex-end;
  text-align: right;
}
.receiver{
  align-items: flex-start;
}
.bs-wrapper{
  height: 100%;
}
#root>div{
  height: 100%;
}