body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body, #root{
  height: 100%;
}
.bs-wrapper{
  height: 100%;
}
ul,li{
  list-style: none;
}
li{
  width: 100%;
  height: 50px;
}
li:nth-child(4n+1){
  background-color: beige;
}
li:nth-child(4n+2){
  background-color:blueviolet;
}
li:nth-child(4n+3){
  background-color:aqua;
}
li:nth-child(4n+4){
  background-color:cadetblue;
}